.tiptap {
  p {
    margin: 15px 0;
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  /* List styles */
  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;
    list-style: revert;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }
  /* image */
  img {
    display: block;
    height: auto;
    margin: 1rem 0;
    max-width: 100%;

    &.ProseMirror-selectednode {
      outline: 3px solid purple;
    }
  }

  [data-resize-handle] {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 2px;
    z-index: 10;

    &:hover {
      background: rgba(0, 0, 0, 0.8);
    }

    /* Corner handles */
    &[data-resize-handle="top-left"],
    &[data-resize-handle="top-right"],
    &[data-resize-handle="bottom-left"],
    &[data-resize-handle="bottom-right"] {
      width: 8px;
      height: 8px;
    }

    &[data-resize-handle="top-left"] {
      top: -4px;
      left: -4px;
      cursor: nwse-resize;
    }

    &[data-resize-handle="top-right"] {
      top: -4px;
      right: -4px;
      cursor: nesw-resize;
    }

    &[data-resize-handle="bottom-left"] {
      bottom: -4px;
      left: -4px;
      cursor: nesw-resize;
    }

    &[data-resize-handle="bottom-right"] {
      bottom: -4px;
      right: -4px;
      cursor: nwse-resize;
    }
  }

  [data-resize-state="true"] [data-resize-wrapper] {
    outline: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0.125rem;
  }

  .ProseMirror-noderangeselection {
    *::selection {
      background: transparent;
    }

    * {
      caret-color: transparent;
    }
  }

  .ProseMirror-selectednode,
  .ProseMirror-selectednoderange {
    position: relative;

    &::before {
      position: absolute;
      pointer-events: none;
      z-index: -1;
      content: "";
      top: -0.25rem;
      left: -0.25rem;
      right: -0.25rem;
      bottom: -0.25rem;
      background-color: #70cff850;
      border-radius: 0.2rem;
    }
  }
}

::selection {
  background-color: #70cff850;
}

.custom-drag-handle {
  &::after {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1rem;
    height: 1.25rem;
    content: "⠿";
    font-weight: 700;
    cursor: grab;
    background: #0d0d0d10;
    color: #0d0d0d50;
    border-radius: 0.25rem;
  }
}

